@import url('https://fonts.googleapis.com/css?family=Nobile:100,200,300,400,500,600,700|Exo+2:100,200,300,400,500,600|Shadows+Into+Light:100,200,300,400,500,600');

/* Margins/padding/text-------------------------*/

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.input-group {
    margin-top: 20px;
    margin-right: 0;
}

.social-links {
    margin-top: 20px;
}

.social-links li {
    padding-left: 0px;

}

.band-members-section {
    margin-top: 10px;
}

.band-members {
    padding: 0;
    border: 1px solid #bc4318;
}

.band-photo {
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}

.album-photo {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3,
h4,
h5,
h6 {
    font-family: "Exo+2", sans-serif;
    color: #bc4318;
    text-transform: uppercase;
}

p {
    font-family: "Nobile", sans-serif;
    color: #f5f5f5;
}

html,
body .row {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Shadows Into Light', cursive;
    color: #f5f5f5;
    font-size: 60px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Shadows Into Light', cursive;
    color: #f5f5f5;
    font-size: 40px;
}

/*Colors----------------------------------------*/

body {
    background-color: #000000;
    text-align: center;
}

.menu-color {
    background-color: #bc4318;
}

p em {
    color: #c0c0c0;
}

/*Header----------------------------------------*/

.logo {
    background-image: url("../images/monkees-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 130px;
    margin-top: 10px;
    margin-left: 15px;
}

/*Social links----------------------------------*/

.social-links {
    text-align: right;
    word-spacing: 3px;
}

.social-links li a i {
    color: #f5f5f5;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    color: #bc4318;

}

/*Navigation------------------------------------*/

.navbar .nav-pills>li>a {
    border-radius: 0;
}

.navbar .nav-pills.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #112048;
}

.navbar ul {
    display: -webkit-box;
}

.navbar ul li {
    padding-left: 0;
    padding-right: 0;
}

.nav-item {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-item a {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.nav-item span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Exo+2', sans-serif;
    letter-spacing: 1px;
    color: #f5f5f5;
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 100%;
}

.hvr-bounce-to-bottom:before {
    background: #112048;
}

/*Band members----------------------------------*/

.band-members-section {
    width: 100%;
}

.band-members {
    width: 100%;
}

.mn {
    background-image: url("../images/mn.jpg");
}

.pt {
    background-image: url("../images/pt.jpg");
}

.md {
    background-image: url("../images/md.jpg");
}

.dj {
    background-image: url("../images/dj.jpg");
}


.names p {
    margin-top: 5px;
    font-size: 12px;
}

/*Welcome Section------------------------------------*/

.main-section p {
    margin-top: 20px;
    text-align: center;
    display: block;
}

.main-section p a {
    text-decoration: none;
}

.main-section p a:hover {
    color: #bc4318;
}

.main-section p em {
    color: #c0c0c0;
    font-weight: 500;
}

/*Mailing List------------------------------------*/

.mailing-list {
    margin-top: 40px;
    margin-bottom: 40px;
    display: inline-block;
}

.mailing-list input {
    border: 3px solid #bc4318;
}

.mailing-list button {
    color: #bc4318;
    border: 1px solid #bc4318;
    background-color: #000000;
}

.mailing-list button:hover {
    background-color: #000000;
    color: #f5f5f5;
}

/*Video----------------------------------------*/

#video-dimentions {
    padding-bottom: 85%;
    margin-top: 10px;
    margin-bottom: 30px;
}


/*Footer------------------------------------*/

.footer-section {
    margin-top: 80px;
    height: 100px;
}

.footer-section p {
    font-size: small;
    text-align: center;
    color: #c0c0c0;
}

/*Music list----------------------------------------*/

#music-section {
    text-align: -webkit-center;
}

#music-section .well {
    width: 100%;
    margin: 100px 0 20px 0;
    padding: 0;
    background-color: #000000;
}

#music-section .well p {
    color: #bc4318;
}

/*Albums section------------------------------------*/

#album-section {
    margin-top: 20px;
}

#album-section .album {
    height: 500px;
    margin-top: 20px;
    margin-bottom: 50px;
}

#album-section img {
    height: 300px;
    width: 300px;
}

#album-section .caption {
    background-color: #000000;
    height: 250px;
}

/*Booking-------------------------------------------*/

.booking-form {
    background-color: #112048;
}

.booking-heading {
    padding-top: 20px;
    margin-top: 10px;
}

.booking-heading {
    color: #f5f5f5;
    font-weight: 500;
}

.center-form {
    padding: 50px;
}

.center-form input {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center-form button {
    color: #f5f5f5;
    background-color: #bc4318;
}

.center-form button:hover {
    color: #112048;
}

/*Bio----------------------------------------------*/

.group-photo img {
    width: 80%;
    height: 300px;
}

.bio-section .well-sm {
    background-color: #bc4318;
    margin-top: 20px;
    margin-bottom: 0px;
}

.bio-section .well-sm .inner-well {
    background-color: #000000;
}

.bio-section .well-sm .inner-well p {
    color: #f5f5f5;
}

/*Media Queries-------------------------------------*/

@media (min-width:768px) {
    .social-links li a i {
        font-size: 25px;
    }
    #music-section .well {
        width: 400px;
    }

    .band-members {
        width: 80%;
    }
    .names p {
        font-size: 16px;
    }
}

@media (min-width:992px) {
    .search-bar .input-group {
        padding-left: 250px;
    }
    .band-members {
        width: 55%;
    }
    .names p {
        font-size: 18px;
    }
    .bio-section .well-sm {
        margin: 50px 200px;
    }
}
